@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Raleway:wght@100;300;500;700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 62.5% = 10px = 1em */
html {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
    color: #111111;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

/* ITEM */

.item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 550px;
    width: 1200px;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* NEWS */

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 600px;
    width: 1200px;
}