.item-container {
    width: 100%;
    max-width: 1200px;
}

.item-container .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.item-container .products-container .product {
    text-decoration: none;
}
.item-container .product-card-content .product-img:hover .img-box-front {
    display: none;
    transition: all 0.2s;
}
.item-container .product-card-content .product-img:hover .img-box-back {
    display: initial;
}
.item-container .product-card-content .product-img .img-box-back {
    display: none;
    transition: all 0.2s;
}

@media (max-width:768px) {
    .item-container .product-card-content {
        flex-direction: column;
    }
    .item-container .products-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}