
    <footer class="bg-dark-gray p-1">
        <div class="footer-container">
            <div class="items-container d-flex a-items-center j-content-between flex-wrap">
                <!--left-->
                <div class="footer-container-left p-t-0-25 p-b-0-25">
                    <nav class="d-flex flex-column gap-1 a-items-center">
                        <a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link d-flex a-items-center gap-1 j-content-between w-100">Ver tienda</a>
                        <a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link w-100">Contacto</a>
                        <a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link w-100">Admin</a>
                </div>
                <!--right-->
                <div class="p-t-0-25 p-b-0-25">
                    <a href="" class="d-flex a-items-center gap-1">
                        <img class="imago" src="../../img/imago.svg" alt="imagotipo">
                    </a>
                </div>
            </div>
            <div class="d-flex flex-column a-items-center j-content-center">
                <p class="ff-raleway fw-500 fs-1-25 color-white">All rights reserved 2023 - Funkoshop</p>
            </div>
        </div>
    </footer>
