<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no"/>
    <title><%= title %> | Funkoshop</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body class="body-home body-config">
    <header class="bg-dark-gray p-1">
        <div class="header-container">
            <div class="items-container d-flex a-items-center j-content-between flex-wrap">
                <!--left-->
                <div class="p-t-0-25 p-b-0-25">
                    <a href="" class="d-flex a-items-center gap-1">
                        <img class="imago" src="../../img/imago.svg" alt="imagotipo">
                        <img class="logotipo" src="../../img/logotipo.svg" alt="logotipo Funkoshop">
                    </a>
                </div>
                <!--right-->
                <div class="header-container-right p-t-0-25 p-b-0-25">
                    <nav class="d-flex gap-1 a-items-center">
                        <div class="dropdown p-0 m-0">
                            <div id="dropdown-toggle" class="d-flex a-items-center gap-1 j-content-between">
                                <a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link d-flex a-items-center gap-1 j-content-between w-100">Shop <span><img src="../../img/angle.svg" alt=""></span></a>
                            </div>
                            <ul id="dropdown-menu" class="dropdown-menu bg-dark-gray">
                                <li class="dropdown-item"><a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link p-0-5 w-100">Link 1</a></li>
                                <li class="dropdown-item"><a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link p-0-5 w-100">Link 2</a></li>
                                <li class="dropdown-item"><a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link p-0-5 w-100">Link 3</a></li>
                            </ul>
                        </div>
                        
                        <a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link w-100">Contacto</a>
                        <a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link w-100">Login</a>
                        <a href="#" class="ff-raleway color-white fw-500 fs-1-25 tt-upper link d-flex align-items-center j-content-center cart-container"><img class="cart-icon" src="../../img/cart-icon.svg" alt=""><span class="quantify ff-inter">1</span></a>
        
                </div>
            </div>
        </div>
    </header>
    <script src="../../js/header.js"></script>
    
