<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no"/>
    <title>Funkoshop - Admin - Create</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <main>
        <div class="row">
            <div class="container">
               <div class="login-container d-flex flex-column j-content-center a-items-center">
                <div class="title">
                    <h1 class="m-0 ff-raleway fw-700 fs-2-625 color-black-2 tt-upper ">Ingresar a mi cuenta</h1>
                </div>

                <form action="" class="form-login">
                  
    
                    <div class="d-flex flex-wrap a-items-center gap-1">
                        <div class="flex-fill d-flex flex-wrap a-items-center gap-1">
                            <div class="p-t-1 p-b-1">
                                <label for="email-input" class="ff-inter fw-400 fs-1-5 color-black-3">Email</label>
                            </div>
                            <div class="flex-fill p-t-1 p-b-1">
                                <input name="email-input" id="email-input" class="input-text-style ff-inter fw-400 fs-1-125 color-light-gray w-100" placeholder="johndoe@correo.com">
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap a-items-center gap-1">
                        <div class="flex-fill d-flex flex-wrap a-items-center gap-1">
                            <div class="p-t-1 p-b-1">
                                <label for="password-input" class="ff-inter fw-400 fs-1-5 color-black-3">Contraseña</label>
                            </div>
                            <div class="flex-fill p-t-1 p-b-1">
                                <input name="password-input" id="password-input" class="input-text-style ff-inter fw-400 fs-1-125 color-light-gray w-100" type="password" placeholder="">
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap a-items-center gap-1">
                        <div class="d-flex a-items-center gap-1 p-t-1 p-b-1">
                            <input name="rememberme-input" id="rememberme-input" class="input-checkbox-style ff-inter fw-400 fs-1-125 color-light-gray m-0 p-e-1" type="checkbox" placeholder="">
                            </input>
                            <label for="rememberme-input" class="ff-inter fw-400 fs-1-125 color-black-3">Recordarme</label>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap a-items-center gap-1 p-t-1 p-b-1">
                        <button type="submit" class="ff-inter fw-400 fs-1 color-white bg-secondary p-1 w-100 button-rectangle">Ingresar</button>
                    </div>
                    <div class="p-t-1 p-b-1 d-flex a-items-center j-content-center">
                        <a href="#" target="_blank" rel="noopener noreferrer" class="ff-inter fw-400 fs-0-875 color-link-blue">Olvidé mi contraseña</a>
                    </div>
    
                   </div>
                </form>

            </div>
        </div>
    </main>
</body>
</html>
